<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gender Result</title>

</head>
<body>
<link href="{{ url_for('static', filename='styles/text.css') }}" rel="stylesheet" type="text/css" />
<div id="result"><p><iframe src="{{ url_for('static', filename='GenderResult.txt') }}" width=400 height=1400 frameborder=0 ></iframe></p></div>

</body>
</html>